<a href="https://colab.research.google.com/github/vasugamdha/Data-science-practicals/blob/main/Practical%201/prac1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
data = pd.read_csv("bank.csv")

data.head()

   age          job  marital  education  ... pdays  previous poutcome   y
0   30   unemployed  married    primary  ...    -1         0  unknown  no
1   33     services  married  secondary  ...   339         4  failure  no
2   35   management   single   tertiary  ...   330         1  failure  no
3   30   management  married   tertiary  ...    -1         0  unknown  no
4   59  blue-collar  married  secondary  ...    -1         0  unknown  no

[5 rows x 17 columns]

In [ ]:
#imputing missing values if any

data.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [ ]:
#label-encoding
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df = data.copy()
for col in df.columns:
  if df[col].dtypes=='object':  
    df[col]=encoder.fit_transform(df[col])

df

      age  job  marital  education  ...  pdays  previous  poutcome  y
0      30   10        1          0  ...     -1         0         3  0
1      33    7        1          1  ...    339         4         0  0
2      35    4        2          2  ...    330         1         0  0
3      30    4        1          2  ...     -1         0         3  0
4      59    1        1          1  ...     -1         0         3  0
...   ...  ...      ...        ...  ...    ...       ...       ... ..
4516   33    7        1          1  ...     -1         0         3  0
4517   57    6        1          2  ...     -1         0         3  0
4518   57    9        1          1  ...     -1         0         3  0
4519   28    1        1          1  ...    211         3         1  0
4520   44    2        2          2  ...    249         7         1  0

[4521 rows x 17 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

x=df.drop("y",axis=1)
y=df["y"]
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
cls = GaussianNB()
cls.fit(x_train,y_train)

print(accuracy_score(y_test, cls.predict(x_test)))

0.8282977155490051

In [ ]:
#normalization

from sklearn.preprocessing import MinMaxScaler
scale = MinMaxScaler()
scaled_data = scale.fit_transform(x)
x = pd.DataFrame(scaled_data)
display(x)

            0         1    2         3   ...        12        13    14        15
0     0.161765  0.909091  0.5  0.000000  ...  0.000000  0.000000  0.00  1.000000
1     0.205882  0.636364  0.5  0.333333  ...  0.000000  0.389908  0.16  0.000000
2     0.235294  0.363636  1.0  0.666667  ...  0.000000  0.379587  0.04  0.000000
3     0.161765  0.363636  0.5  0.666667  ...  0.061224  0.000000  0.00  1.000000
4     0.588235  0.090909  0.5  0.333333  ...  0.000000  0.000000  0.00  1.000000
...        ...       ...  ...       ...  ...       ...       ...   ...       ...
4516  0.205882  0.636364  0.5  0.333333  ...  0.081633  0.000000  0.00  1.000000
4517  0.558824  0.545455  0.5  0.666667  ...  0.000000  0.000000  0.00  1.000000
4518  0.558824  0.818182  0.5  0.333333  ...  0.204082  0.000000  0.00  1.000000
4519  0.132353  0.090909  0.5  0.333333  ...  0.061224  0.243119  0.12  0.333333
4520  0.367647  0.181818  1.0  0.666667  ...  0.020408  0.286697  0.28  0.333333

[4521 rows x 16 columns]

In [ ]:
#standardization
from sklearn.preprocessing import StandardScaler
stdscale = StandardScaler()

std_data = stdscale.fit_transform(x)

x = pd.DataFrame(std_data)
display(x)

            0         1         2   ...        13        14        15
0    -1.056270  1.716804 -0.246429  ... -0.407218 -0.320413  0.444413
1    -0.772583  0.795246 -0.246429  ...  2.989044  2.041734 -2.579961
2    -0.583458 -0.126313  1.421396  ...  2.899143  0.270124 -2.579961
3    -1.056270 -0.126313 -0.246429  ... -0.407218 -0.320413  0.444413
4     1.686036 -1.047871 -0.246429  ... -0.407218 -0.320413  0.444413
...        ...       ...       ...  ...       ...       ...       ...
4516 -0.772583  0.795246 -0.246429  ... -0.407218 -0.320413  0.444413
4517  1.496912  0.488060 -0.246429  ... -0.407218 -0.320413  0.444413
4518  1.496912  1.409618 -0.246429  ... -0.407218 -0.320413  0.444413
4519 -1.245394 -1.047871 -0.246429  ...  1.710451  1.451197 -1.571836
4520  0.267602 -0.740685  1.421396  ...  2.090033  3.813344 -1.571836

[4521 rows x 16 columns]

In [ ]:
#discretization

data["age_group"] = pd.cut(data["age"], 3, labels=[1,2,3])
data["age_group"]

0       1
1       1
2       1
3       1
4       2
       ..
4516    1
4517    2
4518    2
4519    1
4520    2
Name: age_group, Length: 4521, dtype: category
Categories (3, int64): [1 < 2 < 3]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.3)
cls = GaussianNB()
cls.fit(x_train,y_train)

print(accuracy_score(y_test, cls.predict(x_test)))

0.8703021370670597